<script setup lang="ts"></script>

<template>
  <h1>
    Nuxt3 + WindiCSS + Web3?!!
  </h1>
</template>

<style scoped>
h1 {
  @apply mt-12;
  @apply text-center text-5xl;
  @apply font-bold;
}
</style>
