<script setup lang="ts">
import NetworkToggle from './NetworkToggle.vue'
import WalletConnect from '~/components/WalletConnect.vue'
</script>

<template>
  <header>
    <router-link to="/" class="logo">
      <img src="//placekitten.com/225/125" />
    </router-link>

    <nav>
      <NuxtLink to="/">Home</NuxtLink>
    </nav>

    <span id="user-toggles">
      <WalletConnect />
      <NetworkToggle />
    </span>
  </header>
</template>

<style lang="scss" scoped>
header {
  @apply flex items-center justify-around;
  @apply p-4;

  & #user-toggles {
    @apply flex gap-x-8;
  }
}
</style>
