<script setup lang="ts">
function updateNetwork(event) {
  console.log('updateNetwork', event.target)
}
</script>

<template>
  <div>
    <select name="CurrentNetwork" id="CurrentNetwork" @change="updateNetwork">
      <option value="Mainnet">Mainnet</option>
      <option value="Testnet">Testnet</option>
      <option value="Devnet">Devnet</option>
    </select>
  </div>
</template>

<style scoped lang="scss">
#CurrentNetwork {
  @apply border border-teal-500 rounded-md;
  @apply px-2 py-1;
}
</style>
