<script setup lang="ts"></script>

<template>
  <button>
    Connect Wallet
  </button>
</template>

<style scoped lang="scss">
button {
  @apply bg-teal-500 text-white;
  @apply border border-white rounded-md;
  @apply px-4 py-1;
}
</style>
